@import 'teacherProject';
@import '../app/bower_components/bootstrap-sass/assets/stylesheets/_bootstrap';

/* PRIMARY STYLING */

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

div.navbar-collapse.collapse {
    display: block;
    overflow: hidden;
    max-height: 0px;
    -webkit-transition: max-height .5s ease;
    -moz-transition: max-height .5s ease;
    -o-transition: max-height .5s ease;
    transition: max-height .5s ease;
    background-color:white;
}

div.navbar-collapse.collapse.in {
    max-height: 2000px;
}


.wrapper {
  height: 750px;
  background-color: white;
}

.teaser-container {
  height: 700px;
  .teaser {
    opacity: 1.0;
    position: relative;
    top: 500px;
    left: 45%;
    width: 10%;  
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    .join-btn {
      /*font-size: 20px !important;*/
      flex: 1 0 50px;
      .btn {
        background-color: transparent;
        color: red;
        font-size: 30px;
      }
    }
    .teaser-arrow {
      flex: 1 0 50px;
    }
  }
}

.fullscreen-bg {
    position: static;
    overflow: hidden;
    width: 100%;
    z-index: -100;
}

.fullscreen-bg__video {
    width: 100%;
    /*height: 100%;*/
}

img {
  width: 100%;
}

.data {
  background-color: white;
  padding: 40px 0 40px 0;
}

.navbar {
  margin-bottom: 0px !important;
  font-size: 16px;
  height: 7.5% !important;
  opacity: 1;
  color: red;
}

.project-tile {
  width: 300px;
  height: 150px;
  margin: 15px;
  border: 2px solid black;
  background-color: white;
  float:left;
}

.project-tile-title-box {
  width: 100%;
  height: 30px;
  padding-top: 4px;
}

.project-tile-author {
  font-family: Verdana;
  margin: 10px;
}

.projects-container, .class-container {
  max-width: 1000px;
}

.Science-box {
  background-color: #674ea7;
}

.English-box{
  background-color: #990000;
}

.project-tile-title-text {
  color: white;
  font-family: Verdana;
  margin-left: 8px;
}

.plus-add {
  color: #059D8E;
  width: 40px;
  /*text-align: center;*/
  display: inline-block;
}

.plus-center{
  font-size: 25px;
  text-align: center;
}

.plus-add:hover {
  color: #F26101;
  cursor: pointer;
}

.plus-add:active {
  color: #313732;
}

.modalInput {
  margin: 10px auto;
}

.form-wrap {
  max-width: 600px;
}

.type-selector{
  margin:10px;
}

.account-type-wrap{
  text-align: right;
  padding:5px;
}

.signin-wrap{
  max-width: 400px
}

.signup-row{
  margin-top: 10px;
}

.class-panel-body {
  height: 200px
}

.panel-title.pull-left {
  padding-top:8px !important;
}

.class-project-link{
  color:#3399FF;
  font-size:15px;
  vertical-align: center !important;
}

.table tbody {
    tr {
      $border: 2px solid #f6f6f6;
      border-top: $border;
      border-bottom: $border;
      td.vert-align{
        vertical-align: middle;
        p {
          margin:0px 10px;
        }
      }
    }
}

.class-project-link:hover{
  color: red;
  cursor: pointer;
  text-decoration:none !important;
  @include transition(color 0.2s);
  background-color: #f6f6f6;
}

.help-request-table{
  color:#3399FF;
  font-size:15px;
  vertical-align: center !important;
}

.help-request-table:hover{
  cursor: pointer;
  text-decoration:none !important;
  @include transition(color 0.2s);
  background-color: #8F8F8F;
}


.topnav {
    font-size: 14px; 
}

.lead {
    font-size: 18px;
    font-weight: 400;
}
.intro {
  color: white;
}

.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../assets/landingVids/intro-bg.png) no-repeat center center;
    background-size: cover;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(../img/banner-bg.jpg) no-repeat center center;
    background-size: cover;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}

.center-me {
  margin: 0 auto;
}