.project-tile {
  width: 300px;
  height: 150px;
  margin: 15px;
  border: 2px solid black;
  background-color: white;
  float:left;
}

.project-tile-title-box {
  width: 100%;
  height: 30px;
  padding-top: 4px;
}

.project-tile-author {
  font-family: Verdana;
  margin: 10px;
}

.Science-box {
  background-color: #674ea7;
}

.English-box{
  background-color: #990000;
}

.project-tile-title-text {
  color: white;
  font-family: Verdana;
  margin-left: 8px;
}

.plus-add {
  color: #059D8E;
}

.plus-add:hover {
  color: #F26101;
  cursor: pointer;
}

.plus-add:active {
  color: #313732;
}