<div class="container well form-wrap">
    <form ng-submit="signin(username, password)" role="form">
        <legend>Signin</legend>

        <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" ng-model="username" placeholder="Type here...">
                <label>Password</label>
                <input type="text" class="form-control" ng-model="password" placeholder="Type here...">

        </div>
        <button type="submit" class="btn btn-primary btn-block">Sign In</button>
    </form>

</div>
