<div class="container well form-wrap">
    <form ng-submit="signup(firstName, lastName, username, password, accountType)" role="form">
        <legend>Signup</legend>

        <div class="form-group">
            <div class='type-selector'>
                <div class="row signup-row">
                    <div class="account-type-wrap col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    Account Type:
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <label class="btn btn-block btn-success" ng-model="accountType" btn-radio="'Left'">Teacher</label>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <label class="btn btn-block btn-success" ng-model="accountType" btn-radio="'Middle'">Student</label>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row signup-row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <label>First Name</label>
                    <input type="text" class="form-control" ng-model="firstName" placeholder="Type here...">
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <label>Last Name</label>
                    <input type="text" class="form-control" ng-model="lastName" placeholder="Type here...">
                </div>
            </div>
            <div class="row signup-row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <label>Username</label>
                    <input type="text" class="form-control" ng-model="username" placeholder="Type here...">
                    <label>Password</label>
                    <input type="password" class="form-control" ng-model="password" placeholder="Type here...">
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
    </form>

</div>
