<div style='margin-left: 20px'>
  <form ng-submit="signup(firstName, lastName, username, password, accountType)">
    <div>
        <label>First Name:</label><br/>
        <input ng-model="firstName" type="text" name="firstName"/>
    </div>

    <div>
        <label>Last Name:</label><br/>
        <input ng-model="lastName" type="text" name="lastName"/>
    </div>

    <br/>
    
    <label>
      <input type="radio" ng-model="accountType" value="Teacher">
      Teacher
    </label><br/>
    <label>
      <input type="radio" ng-model="accountType" value="Student">
      Student
    </label>

    <br/>
    
    <div>
        <label>Username:</label><br/>
        <input ng-model="username" type="text" name="username"/>
    </div>
    <div>
        <label>Password:</label><br/>
        <input ng-model="password" type="password" name="password"/>
    </div>

    <br/>

    <div>
        <input type="submit" value="Sign Up"/>
    </div>
  </form>
</div>