<div>
  Test - teacherHomeView
</div>

<div>
  <h1 ng-click="createProject()">Projects+</h1>
</div>

<div ng-repeat="project in teacherProjects">
  {{project.title}} | {{project.subject}} | {{project.author}}
  <div ng-click="goToProject(project.Id)"> Edit </div>
</div>

<div>
  <h1 ng-click="createClass()">Classes+</h1>
</div>
<div ng-repeat="class in teacherClasses">
  {{class.name}}
  <div ng-click="goToClass(class.Id)"> Observe Class </div>
  <!-- what else do we want to show for each class? -->
</div>

