<div class="well container projects-container">
  <div>
    <h1>Projects <div class="plus-add" ng-click="modalOpen('Create New Project', ['Name', 'Subject', 'Author'], createProject)">+</div></h1>
  </div>
    <h3 style="text-align:center" ng-show="teacherProjects.length === 0">No projects.</h3>
    <div ng-repeat="project in teacherProjects">
      <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
              <h3 class="panel-title pull-left">{{project.name}}</h3>
              <div class="btn-group pull-right" dropdown ng-init="toggled[project.id] = false" is-open="toggled[project.id]">
                <button type="button" class="btn btn-assign btn-default"dropdown-toggle>Assign</button>
                <ul class="dropdown-menu assign-class" role="menu">
                  <li ng-repeat="class in teacherClasses"><a ng-click="assignProject(project.id, class.id)">{{class.name}}</a></li>
                </ul>
              </div>
            </div>
            <div class="panel-body">
                <p><strong>Subject: </strong>{{project.subject}}</p>
                <div class="btn-group btn-group-justified">
                  <div class="btn-group" role="group">   
                    <button type="button" class="btn btn-block btn-success" ng-click="goToProject(project.id)">Edit</button>
                  </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

<div class="well container class-container">
  <h1>Classes <div class="plus-add" ng-click="modalOpen('Create New Class', ['Name'], createClass)">+</div></h1>
  <h3 style="text-align:center" ng-show="teacherClasses.length === 0">No classes.</h3>
  <alert ng-repeat="alert in alerts.classAlerts" type="{{alert.type}}" close="closeAlert($index, 'classAlerts')">{{alert.msg}}</alert>
  <div ng-repeat="class in teacherClasses">
      <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title" style="text-align:center">{{class.name}}</h3>
            </div>
            <div class="class-panel-body" >
              <h4 class="container"><strong>Projects</strong></h4>
              <!-- <ul>
                <li tooltip="Unassign {{project.name}}" tooltip-placement="left" ng-repeat="project in class.Projects"><a class="class-project-link" ng-click="unassignProject(project.id, class.id)">{{project.name}}</a></li>
              </ul> -->
              <table class='table'>
                <tbody>
                  <tr ng-repeat="project in class.Projects">
                    <td class="class-project-link vert-align" tooltip="Unassign {{project.name}}" tooltip-placement="left"><p ng-click="unassignProject(project.id, class.id)">{{project.name}}<span style="color:#A6A6A6"> ({{project.subject}})</span><p></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="panel-footer">
              <div class="btn-group btn-group-justified">
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-primary" ng-click="goToClass(class.id)">View</button>
                </div>
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-danger" ng-click="deleteClass(class.id)">Delete</button>
                </div>
              </div>
            </div>
        </div>
    </div>
  </div>
</div>

<!-- 
    <h1 ng-click="createClass()">Classes+</h1>
  </div>
  <div ng-repeat="class in teacherClasses">
    {{class.name}}
    <div ng-click="goToClass(class.id)"> View Class </div>
    <div ng-click="deleteClass(class.id)"> Delete Class </div>
    <br>
     what else do we want to show for each class?
  </div>
  
</div>

 -->