<!-- display basic information at top of view -->
<!-- <div>
  <h3>{{project.name}}</h3>
  <h3>{{project.subject}}</h3>
  <h3>{{project.author}}</h3>
</div> -->

<!-- show tabs for each page -->

<div class="container">
  <div class="page-header">
    <h1>{{project.name}} <small>{{project.subject}}<!--  | {{project.TeacherId}} --></small></h1>
  </div>
</div>

<div class="container">
  <tabset>
    <tab ng-repeat="page in project.Pages" heading="Page {{$index+1}}" active='page.active'>
      <div class="container">
        <h3>{{page.title}}</h3>
        <div style="color:blue">
          <input type="checkbox" ng-model="showTextEditor">
          Add New ContentComponent
        </div>
        <div class="container">
          <div ng-show="showTextEditor">
            <textarea froala="froalaOptions" ng-model="page.content"></textarea>
            <button style="font-size:20px" ng-click="createContent(page.content, page.id)">submit</button>
          </div>
        </div>
        <div ng-bind-html="trustify(page.content)"></div>
      </div>
    </tab>

    <tab>
      <tab-heading>
        <span ng-click="createPage()" disabled="true">+</span>
      </tab-heading>
    </tab>
  </tabset>
</div>

