<div class="container">
  <div class="page-header">
    <h1>{{project.name}} <small>{{project.subject}}<!--  | {{project.TeacherId}} --></small></h1>
  </div>
</div>

<div class="container">
  <tabset>
    <tab ng-repeat="page in project.Pages" heading="{{page.title}}" active='page.active'>
      <div class="container">
        <div style="color:blue">
          <input type="checkbox" ng-model="showTextEditor">
          Add New ContentComponent
        </div>
        <div class="container">
          <div>
            <button style="font-size:20px" ng-click="createContent(page.content, page.id)">submit</button>
            <textarea froala="froalaOptions" ng-model="page.content"></textarea>
          </div>
        </div>
        <div ng-bind-html="trustify(page.content)"></div>
      </div>
    </tab>

    <tab>
      <tab-heading>
        <span ng-click="createPage()" disabled="true">+</span>
      </tab-heading>
    </tab>
  </tabset>
</div>

